<footer>
  <div class="wrap">
    <div class="foot-links">
      <a href="/{{ .Site.Params.basePath }}/">SwiftQL</a>
      <a href="/{{ .Site.Params.basePath }}/documentation/swiftql/">Documentation</a>
      <a href="https://github.com/lukevanin/swiftql/blob/main/Documentation/DESIGN.md">Design rationale</a>
      <a href="https://github.com/lukevanin/swiftql/blob/main/ROADMAP.md">Roadmap</a>
      <a href="https://github.com/lukevanin/swiftql/blob/main/CHANGELOG.md">Changelog</a>
      <a href="https://github.com/lukevanin/swiftql">GitHub</a>
    </div>
    <p>SwiftQL is available under the MIT license.</p>
  </div>
</footer>
